td, th{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
	background-color:whit
}

tr:nth-child(odd){
	background-color:#f2f2f2;
}

tr:nth-child(even){
	background-color:#ffffff;
}

th{
	background-color:#ffffff;
}
